.search_container {
    display: flex;
    position: relative;
    width: 208px;

    input[type="range"] {
        display: block;
        width: 208px;
    }
}

.slider {
    position: relative;
}

.slider__track,
.slider__range {
    position: absolute;
}

.slider__track,
.slider__range {
    border-radius: 3px;
    height: 6px;
}

.slider__track {
    background-color: #ced4da;
    width: 208px;
    z-index: 1;
}

.slider__range {
    background-color: #e6e6e6;
    z-index: 2;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    width: 208px;
}

.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 208px;
    outline: none;
}

.thumb--zindex-3 {
    z-index: 3;
}

.thumb--zindex-4 {
    z-index: 4;
}

.thumb--zindex-5 {
    z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
    background-color: #2c2c2c;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 16px;
    width: 16px;
    pointer-events: all;
    position: relative;
    margin-top: 4px;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
    background-color: #2c2c2c;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 16px;
    width: 16px;
    pointer-events: all;
    position: relative;
    margin-top: 4px;
}

.range_slider_container {
    width: 208px;
    display: flex;
    gap: 12px;
    flex-direction: column;
}

.header_wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.header_label {
    color: #1e1e1e;
    font-size: 16px;
    line-height: 22.4px;
    font-weight: 400;
    word-wrap: "break-word";
}

.header_price {
    color: #1e1e1e;
    font-size: 16px;
    line-height: 19.6px;
    font-weight: 400;
    word-wrap: "break-word";
}
