.get-app {
    min-height: 100vh;
    background-image: url('images/deep-linking/Signin background.svg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}


.reset-password_link-body-card {
    position: relative;
    width: 540px;
    padding: 76px;
    height: 496px;
    box-sizing: border-box;
    border: 1px solid rgba(var(--center-channel-color-rgb), 0.08);
    border-radius: 8px;
    background-color: var(--center-channel-bg);
    box-shadow: var(--elevation-5);
}
.card_center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.reset_my_password{
    background-color: #02B9B5 !important;
    color: #fff !important;
    width: 100%;
    height: 45px;
    margin-top: 1em;
}

.reset_input{
    height: 45px;
    margin-top: 1em;
}

.dont_p_RESET {
    font-size: 20px !important;
    line-height: 16px !important;
    color: #fff !important;
    position: absolute;
    top: -2em;
    left: 0px;
    display: flex !important;
    gap: 5px !important;
    margin: 0px !important;

}
.signup_p{
    color: #02B9B5;
    font-size: 16px;
}
