@charset 'UTF-8';

html,
body {
    height: 100%;
}

body {
    position: relative;
    width: 100%;
    background: $bg--gray;

    &.sticky {
        .container-fluid {
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }
    }

    &.admin-onboarding {
        background-image: url("images/admin-onboarding-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

*:focus {
    outline: none;
}

.sticky {
    background: $white;

    > .channel-view {
        overflow: auto;
        height: 100vh;
        padding: 0 15px;
    }

    .inner-wrap {
        width: 100%;

        > .row {
            &.content {
                min-height: calc(100vh - 89px);

                @media (max-width: 768px) {
                    min-height: calc(100vh - 187px);
                }
            }
        }
    }
}

.help-page {
    overflow: hidden;
    padding: 3em 0;
}

.inner-wrap {
    height: 100%;

    &.sticky {
        overflow: auto;
    }

    > .row {
        &.main {
            position: relative;
            height: 100%;
        }
    }
}

.container-fluid {
    @include pie-clearfix;

    position: relative;
    height: 100%;
}

.channel-view {
    @include clearfix;

    position: relative;
    height: 100%;
}

/* stylelint-disable -- grid-template indentation */

body.app__body {
    background-color: var(--sidebar-header-bg);
}

body.admin-onboarding #root {
    &.channel-view {
        display: flex;
        background-color: transparent;
    }
}

.app__body {
    #root.channel-view {
        &:has(.backstage-body) {
            background-color: $bg--gray;
        }
    }
}

#root,
body.app__body #root {
    display: grid;
    overflow: hidden;
    min-height: 100%;

    --columns: min-content minmax(385px, 1fr) min-content;
    grid-template:
        "announcement announcement announcement" min-content
        "admin-announcement admin-announcement admin-announcement" min-content
        "header header header" min-content
        "team-sidebar main app-sidebar"
        "footer footer footer" min-content / var(--columns);

    > :only-child {
        grid-area: main;
        width: 100%;
    }

    &.console__root {
        background-color: inherit;
        padding-bottom: 0;
        padding-right: 0;
        grid-template:
            "announcement announcement" min-content
            "admin-announcement admin-announcement" min-content
            "header header" min-content
            "lhs center"
            "footer footer" min-content;
        grid-template-columns: auto 1fr; /* lhs takes its content width, center takes remaining space */
    }

    &.container-fluid {
        background: none;
        display: block;
    }

    .announcement-bar {
        grid-area: announcement;
    }

    .announcement-bar.admin-announcement {
        grid-area: admin-announcement;
    }

    #global-header {
        grid-area: header;
    }

    .team-sidebar {
        grid-area: team-sidebar;
    }

    .main-wrapper {
        position: relative;
        display: grid;
        overflow: hidden;
        background-color: var(--sidebar-bg);
        border: var(--border-light);
        margin: 0 4px 4px 4px;
        border-radius: var(--radius-l);
        grid-template: "lhs center rhs";
        grid-template-columns: min-content minmax(385px, 1fr) min-content;
        height: 100%;

        &:has(.backstage-body) {
            background: inherit;
            padding: 0;
            margin: 0;
            border-radius: 0;
            grid-template:
                "header" min-content
                "main";
        }

        &:has(#playbooks-backstageRoot) {
            margin: 0;
            border-radius: 0;
        }
    }

    &:has(.app-bar) {
        .main-wrapper {
            margin-right: 0;
        }
    }

    &:has(.team-sidebar) {
        .main-wrapper {
            margin-left: 0;
        }
    }

    #SidebarContainer {
        grid-area: lhs;
        z-index: 999;
    }

    #channel_view,
    .product-wrapper {
        grid-area: center;
        overflow: visible;
    }

    .product-wrapper {
        overflow: auto;
    }

    .sidebar--right--width-holder {
        grid-area: rhs;
    }

    #sidebar-right {
        top: 0;
        right: 0;

        @media screen and (min-width: 768px) {
            position: absolute;
        }
    }

    .app-bar {
        grid-area: app-sidebar;
    }

    &:not(.console__root) {
        @media screen and (max-width: 768px) {
            padding-bottom: 0;
            padding-right: 0;
            z-index: 17;
            grid-template:
                "announcement" min-content
                "admin-announcement" min-content
                "header" min-content
                "main" auto
                "footer" min-content / auto;
            .team-sidebar,
            .app-bar {
                grid-area: main;
            }

            #SidebarContainer.move--right {
                position: relative;
            }

            .main-wrapper {
                margin: 0;
                grid-template: "main";
                padding: 0;
                border-radius: 0;

                #channel_view,
                #SidebarContainer,
                .product-wrapper,
                #sidebar-right {
                    grid-area: main;
                    border-radius: 0;
                }

                .channel-view {
                    border-radius: 0;
                    border: none;
                    box-shadow: none;
                }
            }
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
        &.rhs-open-expanded {
            .sidebar--right--width-holder {
                display: none;
            }

            #sidebar-right {
                position: absolute;
                width: 100%;
                grid-area: center;
                transition: width 0.25s ease-in-out;
                border-radius: var(--radius-l);
            }

            --columns: min-content 1fr min-content;
        }

        #sidebar-right {
            transition: none;
        }
    }

    .home-screen-wrapper {
        position: relative;
        overflow: hidden;
        grid-area: main;
        background-color: var(--sidebar-header-bg);
        display: flex;

        &__sidebar {
            padding: 6px;
            padding-bottom: 12px;
            width: 48px;
            flex-basis: 48px;
            display: flex;
            flex-direction: column;
            flex-grow: 0;

            &.left {
                justify-content: end;
    
                img {
                    width: 100%;
                    margin-bottom: -10px;
                }
            }

            &.right {
                & > div {
                    display: flex;
                    flex-direction: column;
                    align-items: right;

                    &.top {
                        flex: 1;
                        justify-content: center;
                    }

                    &.bottom {
                        justify-content: end;
                    }

                    button {
                        @include icon-button;
                    }

                    .group {
                        background-color: #304269;
                        padding: 10px 5px;
                        border-radius: 8px;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);

                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        button {
                            padding: 5px;
                            border-radius: 50%;
                            background-color: #0EB7B4;
                            aspect-ratio: 1/1;

                            &.invert {
                                background-color: #192A4DA8;
                            }
                        }
                    }
                }
            }
        }

        .main-wrapper {
            flex: 1;
        }
    }
}

/* stylelint-enable -- grid-template indentation */

#channel_view.channel-view {
    overflow: hidden;
    border-radius: var(--radius-l);
    border-left: var(--border-light);
    background: var(--center-channel-bg);
    box-shadow: var(--elevation-1);
}

.rhs-open #channel_view.channel-view,
.rhs-open-expanded #channel_view.channel.view {
    @media screen and (min-width: 1200px) {
        padding-right: 20px;
        margin-right: -20px;
    }
}

img {
    max-width: 100%;
}

.stella-popover {
    color: black;
    width: 350px;
    height: 480px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .heading {
        flex: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #eee;

        &_text {
            margin: 0;
            padding: 0;
        }

        .controls {
            display: flex;
            gap: 5px;
            color: black;

            i {
                color: black;
            }
        }
    }

    .body {
        flex: 1;
        height: 100%;
        overflow: auto;
        padding: 10px;

        .empty {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            div {
                font-weight: 600;
            }
        }

        .messages {
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: white;

            .message {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px;
                background-color: #14B8A6;
                border-radius: 18px;
                box-shadow: 0px 1px 6px 5px #eee;

                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                }

                .text {
                    color: white;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* number of lines to show */
                            line-clamp: 2; 
                    -webkit-box-orient: vertical
                }

                &.with-timestamp {
                    flex-direction: column;
                    .timestamp {
                        width: 100%;
                        text-align: right;
                        color: white;
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}